# server conf
DOMAIN_NAME=<login>.42.fr
DATA_PATH=/home/<login>/data
SECRET_PATH=/home/<login>/inception/secrets

DATABASE_NAME=wordpress
DATABASE_USER=db_user
DATABASE_HOST=db_container_name

# wp-container conf
WP_FILE_PATH=/var/www/html
WP_DATABASE_PATH=/var/lib/mysql

WP_SITE_TITLE=Wordpress
WP_ADMIN_USER=manager
WP_ADMIN_EMAIL=manager@mail.com
WP_USER=editor01
WP_USER_EMAIL=editor01@mail.com
WP_LOCALE=en_US
